<%- include('../partials/header.ejs')%>

<h2>Welcome, <%=user.firstName%></h2>
<% if(events.length){%>
     <p>You have created the following events:</p>
     <%events.forEach(event=> {%>
         <a href = '/events/<%= event.id%>' class="event-link"><strong><%=event.title%></strong></a>
        <br>
     <%})
 } else{%>
     <p>You have not created any events yet.</p>
 <%}%>
 </div>
<%- include('../partials/footer.ejs')%>